<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post">
        <p>Nhóm sản phẩm: <input name="group" type="text" /> </p>
        <p>Rank hiện tại: <input name="rank" type="text" /></p>
        <p>Thời gian check:<input name="time" type="text" /></p>
        <br> <input type="submit" value="Nhap" />
    </form>

    {% for rank in rank_list %}
        <h1>{{ rank.id_sanpham }}</h1>
        <p>{{ rank.group }}</p>

        <p>{{ rank.rank }}</p>
        <p>{{ rank.time }}</p>
    {% endfor %}


</body>
</body>
</html>